<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css"></link>
  <title>Mercantil Andina</title>
</head>
<body>
  <header>
    
    <section class="contenido-header">
      <div class="contenedor-logo">
        <img class="logo-desktop" src="/img/logo.png" alt="Logo" >
        <img class="logo-mobile" src="/img/logo-mobile.png" alt="Logo">
      </div>
      <h1 class="texto-cotizar">Cotizá la mejor opción para el seguro de tu auto</h1>
    </section>
    <section class="contenedor-formulario">
      <form class="formulario-contacto">
        <h2 class="titulo-form">Cotizá tu auto</h2>
        <button class="whatsapp-button">
          <img src="/img/whatsapp.png" alt="Icono WhatsApp">
          WhatsApp
        </button>
        <h4 class="nota-formulario">O dejanos tus datos para que te contactemos</h4>
        <label class="labels" for="marca">Marca*</label>
        <input id="marca" class="inputs" type="text">
        <label class="labels" for="anio">Año*</label>
        <select id="anio" class="inputs">
          <option>2020</option>
          <option>2021</option>
          <option>2022</option>
          <option>2023</option>
          <option>2024</option>
        </select>
        <label class="labels" for="modelo">Modelo*</label>
        <select id="modelo" class="inputs">
          
        </select>
        <label class="labels" for="version">Version*</label>
        <input id="version" class="inputs" type="text">
        <button class="siguiente-button">
          Siguiente
        </button>
      </form>
    </section>
  </header>
  <nav>
    <img class="logo-desktop" src="/img/logo-azul.png" alt="Logo" >
    <img class="logo-mobile" src="/img/logo-mobile-azul.png" alt="Logo">
    <button class="siguiente-button nav-button">Cotizar</button>
  </nav>
  <main>
    <section class="section-coberturas">
      <h2 class="subtitulos">Nuestros seguros incluyen*</h2>
      <div class="coberturas">
        <article class="cobertura">
          <div>
            <img src="/img/cubiertas.png">
          </div>
          <h2>Rotura de cubiertas</h2> 
        </article>
        <article class="cobertura">
          <div>
            <img src="/img/cristales.png">
          </div>
          <h2>Rotura de cristales</h2> 
        </article>
        <article class="cobertura">
          <div>
            <img src="/img/granizo.png">
          </div>
          <h2>Granizo</h2> 
        </article>
        <article class="cobertura">
          <div>
            <img src="/img/inundacion.png">
          </div>
          <h2>Inundación</h2> 
        </article>
      </div>
      <h4 class="notas">*Las coberturas y beneficios están sujetos a los términos y condiciones de póliza</h4>
    </section>
    <section class="planes">
      <h2 class="subtitulos">¡Encontrá el tuyo!</h2>
      <div class="tarjetas">
        <article class="tarjeta">
          <h2>Daños totales</h2>
          <ul>
            <li>Responsabilidad civil limitada.</li>
            <li>incendio total.</li>
            <li>Robo y/o hurto total.</li>
            <li>Daños totales por accidente.</li>
          </ul>
          <button>Cotizar</button>
        </article>
        <article class="tarjeta">
          <h2>Terceros completos Base</h2>
          <ul>
            <li>Responsabilidad civil limitada.</li>
            <li>incendio total y parcial.</li>
            <li>Robo y/o hurto total y parcial.</li>
            <li>Daños totales por accidente.</li>
          </ul>
          <button>Cotizar</button>
        </article>
        <article class="tarjeta">
          <h2>Terceros completos Premium</h2>
          <ul>
            <li>Responsabilidad civil limitada.</li>
            <li>incendio total y parcial.</li>
            <li>Robo y/o hurto total y parcial.</li>
            <li>Daños totales por accidente.</li>
            <li>Daños parciales al amparo de robo total, granizo e inundación.</li>
          </ul>
          <button>Cotizar</button>
        </article>
        <article class="tarjeta">
          <h2>Todo riesgo con franquicia</h2>
          <ul>
            <li>Responsabilidad civil limitada.</li>
            <li>incendio total y parcial.</li>
            <li>Robo y/o hurto total y parcial.</li>
            <li>Daños totales por accidente.</li>
            <li>Incluye franquicia.</li>
          </ul>
          <button>Cotizar</button>
        </article>
      </div>
    </section>
  </main>
  <footer>
    <section class="section-column">
      <div class="footer-column">
        <h3>N° de Inscripción SSN</h3>
        <p>116</p>
      </div>
      <div class="footer-column">
        <h3>Atención al asegurado</h3>
        <p>0800-666-8400</p>
      </div>
      <div class="footer-column">
        <h3>Organismo de control</h3>
        <p>www.argentina.gob.ar/ssn</p>
      </div>
      <div class="footer-column">
        <div> 
          <img class="logo-ssn" src="/img/ssn_horizontal.png">
        </div>
      </div>
    </section>
    <section class="section-row">
      <div class="footer-row">
        <p>La compañía de seguros dispone de un Servicio de Atención al Asegurado que atenderá las consultas y reclamos que presenten los tomadores de seguros, asegurados, beneficiarios y/o derechohabientes.</p>
      </div>
      <div class="footer-row">
        <p>En caso de que el reclamo no haya sido resuelto o que haya sido denegada su admisión o desestimado, total o parcialmente, podrá comuinicarse con la Superintendencia de Seguros de la Nación por teléfono al 0800 666 8400, correo electrónico a denuncias@ssn.gob.ar o por formulario web a través de www.argentina.gob.ar/ssn.</p>
      </div>
      <div class="footer-row">
        <h4>El servicio de Atención al Asegurado está integrado por:</h4>
        <p>RESPONSABLE Dr. Juan Pablo de Medio, tel.: (02983) 43-4090 interno 2238 (juan.demedio@lamercantil.com.ar)</p>
        <p>SUPLENTE Walter Fortuna, tel.: (011) 4310-5400 interno 5683 (walter.fortuna@lamercantil.com.ar)</p>
      </div>
    </section>
  </footer>
</body>
</html>